@import "tailwindcss";

@theme {
  --default-font-family: "Space Grotesk", sans-serif;

  --color-primary: #00F0FF;
  --color-primary-soft: #67E8F9;
  --color-primary-dark: #0E7490;

  --color-main: #F8FAFC;
  --color-surface: #0F172A;
  --color-muted: #0A2540;

  --color-text-primary: #F8FAFC;
  --color-text-secondary: #CBD5E1;
  --color-text-muted: #334155;

  --color-success: #22C55E;
  --color-warning: #FACC15;
  --color-error: #EF4444;
  --color-info: #38BDF8;

  --color-border: #1E293B;
}

/* HEADER */
.line {
  width: 22px;
  height: 2px;
  background: currentColor;
  border-radius: 2px;
  transition: transform 0.3s ease;
}

.menu-open .line:first-child {
  transform: translateY(4px) rotate(45deg);
}

.menu-open .line:last-child {
  transform: translateY(-4px) rotate(-45deg);
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}

.animate-slideUp {
  animation: slideUp 0.3s ease-out;
}

/* PAGES */
.hero-home {
  background-image: url("../assets/hero-home.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 16px;
}

.hero-contact {
  background-image: url("../assets/contact-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 16px;
}

.hero-about {
  background-image: url("../assets/hero-about.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 16px;
}

@keyframes float {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}

@keyframes blink {
  50% {
    border-color: transparent
  }
}

/* Marquee Scroll Animation */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}

.animate-scroll {
  animation: scroll 30s linear infinite;
}