---
import HeroImage from '../components/home/HeroImage';
import Innovation from '../components/home/Innovation';
import Process from '../components/home/Process.astro';
import Projects from '../components/home/Projects.astro';
import { Reviews } from '../components/home/Reviews';
import Services from '../components/home/Services.astro';
import Tecnhologies from '../components/home/Tecnhologies';
import Layout from '../layouts/Layout.astro';
---

<Layout 
	title="DevStack Studio | Agencia de Desarrollo de Software a Medida"
	description='En DevStack Studio desarrollamos software a medida, aplicaciones web modernas y soluciones digitales escalables para empresas.'
>
	<HeroImage client:load />

	<div class="bg-[#030712]">
		<Services />
		<Process />
	</div>

	<div class="bg-slate-900/30">
		<Projects />
		<Reviews client:only="react" />
	</div>

	<div class="bg-[#030712]">
		<Tecnhologies client:only="react" />
		<Innovation client:only="react" />
	</div>
</Layout>


