---
import HeroImage from '../components/home/HeroImage.astro';
import Innovation from '../components/home/Innovation.astro';
import Process from '../components/home/Process.astro';
import Projects from '../components/home/Projects.astro';
import { Reviews } from '../components/home/Reviews';
import Services from '../components/home/Services.astro';
import Tecnhologies from '../components/home/Tecnhologies';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Inicio">
	<HeroImage />

	<div class="bg-[#030712]">
		<Services />
		<Process />
	</div>

	<div class="bg-slate-900/30">
		<Projects />
		<Reviews client:only="react" />
	</div>

	<div class="bg-[#030712]">
		<Tecnhologies client:only="react" />
		<Innovation />
	</div>
</Layout>


