---
import { Image } from "astro:assets";
import logoCC from "../../assets/logoBlanco.png";
import logoGE from "../../assets/grupo-excelencia.png";

const customers = [
    {
        name: "Camarillo Casting",
        logo: logoCC,
        alt: "Logo Camarillo Casting"
    },
    {
        name: "Grupo Excelencia",
        logo: logoGE,
        alt: "Logo Grupo Excelencia"
    }
];

---

<section data-aos="fade-up" class="max-w-7xl mx-auto space-y-16 py-16 text-white px-5 lg:px-0">
    <h2 class="text-3xl md:text-4xl font-bold mb-10 text-center">Nuestros Clientes</h2>

    <div class="flex justify-center items-center">
        <div class="flex flex-wrap justify-center items-center gap-10">
            {customers.map((customer) => (
                <Image src={customer.logo} alt={customer.alt} class="w-48 h-auto object-contain" />
            ))}
        </div>
    </div>
    
</section>